<f:layout name="KitodoPage" />

<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Content">
		<f:render section="ControlBar" partial="ControlBar" arguments="{_all}" />
		<f:if condition="{gp-validate}">
			<f:then>
				<f:render section="Validator" partial="Validator" arguments="{_all}" />
			</f:then>
			<f:else>
				<!--TYPO3SEARCH_begin-->
				<f:render section="PageView" partial="PageView" arguments="{_all}" />
				<!--TYPO3SEARCH_end-->
			</f:else>
		</f:if>
	</f:section>

</div>
